= semantic_form_for @event do |f|
  = f.inputs do
    = f.input :title
    = f.input :category 
    = f.input :start_year
    = f.input :end_year
    = f.input :image
    = f.input :description
  = f.actions